<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WebAppPrefix</key>
	<string>http://118.244.224.123:8080/gezhongmengApp</string>
	<key>UmengAppKey</key>
	<string>5141415756240b3078003c98</string>
	<key>AlertKeyword</key>
	<string>小萌萌</string>
	<key>AppStoreId</key>
	<string>620394300</string>
</dict>
</plist>
