<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppStoreShortUrl</key>
	<string>http://t.cn/zWClY66</string>
	<key>ParseConfig</key>
	<dict>
		<key>applicationId</key>
		<string>I0ZK27VfSJWLhfztjy3gkxGfXFowWQAYYzb4PCFD</string>
		<key>clientKey</key>
		<string>8gcnhS7JtaRHuA6pHqwHc2kml0wcwZQV5FFa8oae</string>
	</dict>
	<key>ChannelList</key>
	<array>
		<dict>
			<key>title</key>
			<string>中长发型</string>
			<key>keyword</key>
			<string>长发</string>
		</dict>
		<dict>
			<key>title</key>
			<string>盘发DIY</string>
			<key>keyword</key>
			<string>辫</string>
		</dict>
		<dict>
			<key>title</key>
			<string>男生发型</string>
			<key>keyword</key>
			<string>男</string>
		</dict>
		<dict>
			<key>title</key>
			<string>短发发型</string>
			<key>keyword</key>
			<string>短</string>
		</dict>
	</array>
	<key>UmengAppKey</key>
	<string>5118f8e3527015166d0000b1</string>
	<key>AlertKeyword</key>
	<string>八卦消息</string>
	<key>AppStoreId</key>
	<string>595359949</string>
	<key>AppChannelTag</key>
	<string>appstore</string>
</dict>
</plist>
