<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_mcloth</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>姐的收藏</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_bag</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>精品发型</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>keyword</key>
				<string>【视频】</string>
				<key>imageName</key>
				<string>tmall_icon_cat_bag_1</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>视频教程</string>
			</dict>
			<dict>
				<key>keyword</key>
				<string>男</string>
				<key>imageName</key>
				<string>tmall_icon_cat_bag_2</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>男生发型</string>
			</dict>
			<dict>
				<key>keyword</key>
				<string>气质</string>
				<key>imageName</key>
				<string>tmall_icon_cat_bag_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>气质发型</string>
			</dict>
			<dict>
				<key>keyword</key>
				<string>新娘</string>
				<key>imageName</key>
				<string>tmall_icon_cat_bag_4</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>新娘发型</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_digital</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>流行发型</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>keyword</key>
				<string>短发</string>
				<key>imageName</key>
				<string>tmall_icon_cat_digital_1</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>短发发型</string>
			</dict>
			<dict>
				<key>keyword</key>
				<string>中长</string>
				<key>imageName</key>
				<string>tmall_icon_cat_digital_2</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>中长发</string>
			</dict>
			<dict>
				<key>keyword</key>
				<string>卷</string>
				<key>imageName</key>
				<string>tmall_icon_cat_digital_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>卷发发型</string>
			</dict>
			<dict>
				<key>keyword</key>
				<string>直发</string>
				<key>imageName</key>
				<string>tmall_icon_cat_digital_4</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>直发发型</string>
			</dict>
			<dict>
				<key>keyword</key>
				<string>日系</string>
				<key>imageName</key>
				<string>tmall_icon_cat_digital_5</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>日系发型</string>
			</dict>
			<dict>
				<key>keyword</key>
				<string>韩</string>
				<key>imageName</key>
				<string>tmall_icon_cat_digital_6</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>韩系发型</string>
			</dict>
			<dict>
				<key>keyword</key>
				<string>梨花</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_2</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>梨花头</string>
			</dict>
			<dict>
				<key>keyword</key>
				<string>波波</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>波波头</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_fcloth</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>发型DIY</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>keyword</key>
				<string>盘</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_1</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>盘发教程</string>
			</dict>
			<dict>
				<key>keyword</key>
				<string>马尾</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_1</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>马尾辫</string>
			</dict>
			<dict>
				<key>keyword</key>
				<string>花苞</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_4</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>花苞头</string>
			</dict>
			<dict>
				<key>keyword</key>
				<string>丸子</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_5</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>丸子头</string>
			</dict>
			<dict>
				<key>keyword</key>
				<string>公主</string>
				<key>imageName</key>
				<string>tmall_icon_cat_fcloth_6</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>公主头</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tmall_icon_cat_mcloth</string>
		<key>imageUrl</key>
		<string></string>
		<key>name</key>
		<string>脸型发型</string>
		<key>subClass</key>
		<array>
			<dict>
				<key>keyword</key>
				<string>圆脸</string>
				<key>imageName</key>
				<string>tmall_icon_cat_mcloth_1</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>圆脸发型</string>
			</dict>
			<dict>
				<key>keyword</key>
				<string>长脸</string>
				<key>imageName</key>
				<string>tmall_icon_cat_mcloth_2</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>长脸发型</string>
			</dict>
			<dict>
				<key>keyword</key>
				<string>小脸</string>
				<key>imageName</key>
				<string>tmall_icon_cat_mcloth_3</string>
				<key>imageUrl</key>
				<string></string>
				<key>name</key>
				<string>小脸发型</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
